<h1>Welcome to Good Burger!</h1>

<div class="container">
    <div class="row">

    {{!-- Column for uneaten burgers --}}
    <div class="col">
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-item devoured=true}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    
    {{!-- Column for eaten burgers --}}
    <div class="col">
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burgers/burger-item devoured=false}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
    </div>
</div>

{{!-- Form to add new burger --}}
<h2>Order a Burger!</h2>

<form action=""></form>